<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
  <testsuites>
    <testsuite name="Plugin">
      <directory suffix=".php">./tests</directory>
      <exclude>./tests/bootstrap.php</exclude>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="false">
    <include>
      <file>throwaway-lookup.php</file>
      <file>uninstall.php</file>
    </include>
  </coverage>
</phpunit>
